/* You can add global styles to this file, and also import other style files */
:root {
  --color-primary: #abd0f1;
  --color-secondary: #2db2d3;
  --color-dark: #1c1d3b;
  --color-light: #ffffff;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background: var(--color-dark);
  font-family: 'Roboto', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background: var(--color-light);
  height: 6rem;
}

section {
  height: 100%;
  padding: 2rem;
  background: var(--color-primary);
}

button {
  height: 40px;
  font-family: Roboto, sans-serif;
  font-weight: 0;
  font-size: 14px;
  color: #000000;
  background-color: #abd0f1;
  padding: 10px 30px;
  border: solid #ffffff 2px;
  box-shadow: none;
  border-radius: 50px;
  transition: 1000ms;
  transform: translateY(0);
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.button:hover {
  transition: 1000ms;
  padding: 10px 49px;
  transform: translateY(-0px);
  background-color: #b3e3a8;
  color: #000000;
  border: solid 2px #ffffff;
}

.dialog-container {
  position: absolute !important;
  background: var(--color-dark);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
