/* You can add global styles to this file, and also import other style files */
:root {
  --color-primary: #dceaf7;
  --color-secondary: #99cdda;
  --color-dark: #1c1d3b;
  --color-light: #ffffff;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background: var(--color-primary);
  font-family: 'Roboto', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background: var(--color-light);
  height: 6rem;
}

section {
  height: 100%;
  padding: 1rem;
  background: var(--color-primary);
}

button {
  padding: 0 1rem;
  height: 50px;
  width: 7.5rem;
  border: none;
  color: #ededed;
  transition: background-color ease-in-out 0.5s;
}

.btn-green {
  background-color: #bdcc72;
  border: 1px solid #bdcc72;
}
.btn-red {
  background-color: #f68fa0;
  border: 1px solid #f68fa0;
}
.btn-blue {
  background-color: #93b9dc;
  border: 1px solid #93b9dc;
}
.btn-black {
  background-color: #ffffff;
  border: 1px solid #7c7c7a;
  color: #7c7c7a;
}

button:hover {
  background-color: #ffffff;
}
.btn-green:hover {
  border: 1px solid #bdcc72;
  color: #bdcc72;
}
.btn-red:hover {
  border: 1px solid #f68fa0;
  color: #f68fa0;
}
.btn-blue:hover {
  border: 1px solid #93b9dc;
  color: #93b9dc;
}
.btn-black:hover {
  background-color: #7c7c7a;
  border: 1px solid #7c7c7a;
  color: #ffffff;
}

.dialog-container {
  position: absolute !important;
  background: var(--color-dark);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
